.text-shadow {
    text-shadow: 2px 2px 3px #0e4700;
}
nav .app-heading{
    font-family: 'Merienda One', cursive;
    font-size: small;
}

.flashes h4 {
    color: #8F3B0A;
    line-height: 2;
}

.home-card {
    height: 100%;
}

.home-card h2{
    font-size: 5em;
}

.input-margins {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.full-width{
    width: 100%;
}

.carried_through_term{
    font-weight: bold;
    font-style: italic;
    font-size: larger;
}




@media only screen and (min-width: 1201px) {
    .home-card {
        padding: 24px 96px;
    }
}

@media only screen and (min-width: 1780px) {
    .home-card {
        padding: 24px 270px;
    }
}

@media only screen and (max-width: 1201px) {
    .struggling-heading {
        font-size: 62px;
    }
}

@media only screen and (max-width: 420px) {
    .struggling-heading {
        font-size: 56px;
    }
}

@media only screen and (max-width: 356px) {
    .struggling-heading {
        font-size: 40px;
        line-height: 0;
    }
}

@media only screen and (min-width: 356px) {
    nav .app-heading{
        font-family: 'Merienda One', cursive;
        font-size: large;
    }
}

@media only screen and (min-width: 600px) {
    nav .app-heading{
        font-family: 'Merienda One', cursive;
        font-size: x-large;
    }
}

@media only screen and (min-width: 992px) {
    nav .app-heading{
        font-family: 'Merienda One', cursive;
        font-size: xx-large;
        margin-left: .6em
    }
}