.text-shadow {
    text-shadow: 2px 2px 3px #0e4700;
}
nav .app-heading{
    font-family: 'Merienda One', cursive;
    font-size: small;
}

.flashes h4 {
    color: #8F3B0A;
    line-height: 2;
}

.home-card {
    height: 100%;
}

@media only screen and (min-width: 356px) {
    nav .app-heading{
        font-family: 'Merienda One', cursive;
        font-size: large;
    }
}

@media only screen and (min-width: 600px) {
    nav .app-heading{
        font-family: 'Merienda One', cursive;
        font-size: x-large;
    }
}

@media only screen and (min-width: 1000px) {
    nav .app-heading{
        font-family: 'Merienda One', cursive;
        font-size: xx-large;
    }
}