body {
    font-family: 'Delius', cursive;
    background-color: #f4ebff;
}

.tile-colour {
    background-color: #9291b0
}

.text-shadow {
    text-shadow: 2px 2px 3px #0e4700;
}
nav .app-heading{
    font-family: 'Merienda One', cursive;
    font-size: small;
}

.flashes h4 {
    color: #8F3B0A;
    line-height: 2;
}

.home-link-tile {
    background-color: #fdf5f8;
}

.home-card {
    height: 100%;
}

.home-card h2{
    font-size: 5em;
}

.home-link:hover {
    color: royalblue;
}

.input-margins {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.full-width{
    width: 100%;
}

.carried_through_term{
    font-weight: bold;
    font-style: italic;
    font-size: larger;
}

.home-card .write-struggling-heading {
    font-size: 3em;
}

/* Overwriting Materialize Styles */
.btn, .btn-large, .btn-small {
    background-color: #4f4e78;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #2b79bb;
}

.btn:focus, .btn-large:focus, .btn-small:focus {
    background-color: #2b45bb;
}

.carousel.carousel-slider .carousel-item h2 {
    padding: 5em;
}

.chevron-left {
    font-size: 50px;
    color: white;
    z-index: 1;
    position: absolute;
    top: 40%;
    left: 5%;
}

.chevron-right {
    font-size: 50px;
    color: white;
    z-index: 1;
    position: absolute;
    top: 40%;
    right: 5%;
}

/* Media Queries */
@media only screen and (min-width: 1201px) {
    .home-card {
        padding: 24px 96px;
    }
}

@media only screen and (min-width: 1780px) {
    .home-card {
        padding: 24px 270px;
    }
}

@media only screen and (max-width: 1201px) {
    .struggling-heading {
        font-size: 62px;
    }
}

@media only screen and (max-width: 420px) {
    .struggling-heading {
        font-size: 56px;
    }
}

@media only screen and (max-width: 356px) {
    .struggling-heading {
        font-size: 40px;
        line-height: 0;
    }
}

@media only screen and (min-width: 356px) {
    nav .app-heading{
        font-family: 'Merienda One', cursive;
        font-size: large;
    }
}

@media only screen and (min-width: 600px) {
    nav .app-heading{
        font-family: 'Merienda One', cursive;
        font-size: x-large;
    }
}

@media only screen and (min-width: 992px) {
    nav .app-heading{
        font-family: 'Merienda One', cursive;
        font-size: xx-large;
        margin-left: .6em
    }
}