{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s6 offset-s3 home-card">
            <div class="card-panel teal center-align">
                <span class="white-text">
                    Add words for {{ topic }}
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('add_words', topic=topic) }}">
            <div class="row">
                <input type="hidden" id="topic_id" name="topic_id" value="{{ topic_id }}">
                <div class="input-field col s12">
                    <i class="fas fa-edit prefix"></i>
                    <textarea class="materialize-textarea" id="words" name="words" cols="30" rows="10" minlength="5" maxlength="500" required></textarea>
                    <label for="words">supportive words...</label>
                </div>
            </div>
            <div class="row center-align">
                <button type="submit">
                    Submit <i class="fas fa-arrow-circle-right"></i>
                </button>
            </div>
        </form>
    </div>

{% endblock %}