{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 l12 ">
            <div class="card-panel teal center-align home-card">
                <span class="white-text flow-text">
                    <p>
                        How we talk to ourselves isn't always compassionately.
                    </p>
                    <p>

                        There can be a tendency to talk ourselves down.
                    </p>
                    <p>
                        However, the same harsh words we might tell ourselves are unlikely to be the way we would talk
                        to someone else.
                        <br>
                        When trying to find a kinder voice it can be easier to imagine:
                    </p>
                    <p>
                        <em>
                            "What would you say to someone else?"
                        </em>
                    </p>
                </span>
            </div>
        </div>
    </div>

    <hr><br>

    <div class="row">
        <div class="col s12 m6 home-card">
            <div class="card-panel white center-align">
                <h2 class="white-text flow-text"><a href="{{ url_for('read') }}"><i
                            class="fas fa-book-reader"></i><br>
                        Read</a>
                </h2>
            </div>
            <p class="center-align flow-text">
                Find some user submitted kind words.
            </p>
        </div>


        <div class="col s12 m6 home-card">
            <div class="card-panel white center-align">
                <h2 class="white-text flow-text"><a href="{{ url_for('write') }}"><i
                            class="fas fa-feather-alt"></i><br>
                        Write</a>
                </h2>
            </div>
            <p class="center-align flow-text">
                Write some kind words to help others.
            </p>
        </div>
    </div>

{% endblock %}