{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s6 offset-s3 home-card">
            <div class="card-panel teal center-align">
                <h2><span class="white-text">
                        I'm struggling with ...
                    </span>
                </h2>
            </div>
        </div>
    </div>

    <!-- Search For Topic -->
    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('search') }}">

            <div class="row">

                <div class="input-field col s4 offset-s3">
                    <input id="topic" name="topic" type="text" class="validate">
                    <label for="topic">word or short phrase</label>
                </div>

                <div class="col s2 input-margins">
                    <button class="btn waves-effect waves-light full-width" type="submit" name="action">Search
                        <i class="fas fa-search right"></i>
                    </button>
                </div>

            </div>

        </form>
    </div>

    <!-- Browse Topics -->
    <div class="row">
        <form class="col s6 offset-s3 center-align" method="POST" action="{{ url_for('search_all') }}">
            <input type="hidden" id="browse" name="browse" value="all_results">
            <button class="waves-effect waves-light btn full-width" type="submit"><i class="fas fa-list"> Browse</i></button>
        </form>
    </div>




{% endblock %}