{% extends "base.html" %}
{% block content %}

    <h2>Topics</h2>

    {% for topic in topics %}
        {{ topic.topic }}<br>
        {{ topic.topic_creation_date }}<br>
        {{ topic.topic_creator }}<br>
        <hr>
    {% endfor %}

    <div class="carousel carousel-slider center">
        <div class="carousel-fixed-item center">
            <a class="btn waves-effect white grey-text darken-text-2">button</a>
        </div>
        {% for topic in topics %}
            <div class="carousel-item red white-text">
                <h2>{{ topic.topic }}</h2>
                <p class="white-text">{{ topic.topic_creation_date }}</p>
                <p class="">{{ topic.topic_creator }}</p>
            </div>
        {% endfor %}
    </div>



{% endblock %}