{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col l6 m8 s12 offset-l3 offset-m2">
        <div class="card-panel tile-colour center-align">
            <h2><span class="white-text">
                Supportive words for <span class="carried_through_term">{{ topic }}</span>
            </span></h2>
        </div>
    </div>
</div>


    <div class="carousel carousel-slider center">
        {% if supportive_words|length > 1 %}
            <i class="fas fa-chevron-left left chevron-left"></i>
        {% endif %}
        {% for item in supportive_words %}
            <div class="carousel-item tile-colour white-text">
                <h2>{{ item.words }}</h2>
            </div>
        {% endfor %}
        {% if supportive_words|length > 1 %}
            <i class="fas fa-chevron-right right chevron-right"></i>
        {% endif %}
        {% if supportive_words|length < 1 %}
        <p>No one has added any supportive words yet.</p>
        {% endif %}
    </div>
    <a href="{{ url_for('add_words', topic=topic) }}" class="btn waves-effect waves-light full-width">Add Words
        <i class="fas fa-plus right"></i>
    </a>

{% endblock %}